In [1]:
import pandas as pd
smeri = pd.read_csv('csv/smeri.csv', index_col = 'id', encoding = 'cp1250')
ocene = pd.read_csv('csv/ocene.csv', index_col = 'id', encoding = 'cp1250')
ocene_lookup = pd.read_csv('csv/ocene_lookup.csv', index_col = 'num', encoding = 'cp1250')
pd.options.display.max_rows = 20

In [2]:
smeri

                ime  ocena  dolzina               vzponi
id
1441       Slinavka  5a/a+       14   137 (96 plezalcev)
1442     Parkljevka     5b       14  150 (105 plezalcev)
1443      Brbončica  6a+/b       14   134 (90 plezalcev)
1444   Harry Potter    6a+       16  139 (100 plezalcev)
1445   Bradavičarka    6a+       17   128 (87 plezalcev)
1446        Mojčina    5a+       17  163 (104 plezalcev)
1447       Ksenjina     5a       17  151 (100 plezalcev)
1448  Naritko Mitko  5a+/b       17  195 (119 plezalcev)
1449         Lukova     6c       17   170 (90 plezalcev)
1450       Jožetova  6a/a+       20  339 (155 plezalcev)
...             ...    ...      ...                  ...
7147         Strela  5b/b+        9    14 (13 plezalcev)
1591      Milky way  6b/b+        9      7 (6 plezalcev)
1592         Bounty  6c/c+        9                    8
1593       Rest day    7b+        9                    5
1594       Snickers     6c        9                    6
7148           Mars    6b+       14                    4
7149          Milka  6a/a+       14                    3
7150       Gorenjka     6c       13                    5
7151       Raffaelo     6b       13                    5
7152           Twix     5b       14    15 (15 plezalcev)

[183 rows x 4 columns]

In [3]:
ocene

      smer_id       ime  ocena            plezalec       datum  valid
id
1        1441  Slinavka     4c     Žan Auersperger   29.3.2014    NaN
2        1441  Slinavka     5a         Bazna ocena          5a    NaN
3        1441  Slinavka     5a       Damjan Gruden    9.6.2008    NaN
4        1441  Slinavka     5a      Davor Zupancic   15.8.2008  valid
5        1441  Slinavka     5a          Rajko Zajc  28.10.2008  valid
6        1441  Slinavka     5a       Martin Bombač   16.3.2009  valid
7        1441  Slinavka     5a    Ajda Auersperger   29.3.2014  valid
8        1441  Slinavka     5a  Primož Auersperger   5.10.2014  valid
9        1441  Slinavka     5a    Gregor Žnidarčič   24.7.2015  valid
10       1441  Slinavka  5a/a+       Bojan Strauss   12.4.2007  valid
...       ...       ...    ...                 ...         ...    ...
1732     7150  Gorenjka     6c         Grega Sovič   29.9.2013    NaN
1733     7151  Raffaelo    6a+         Bazna ocena       6a+/b    NaN
1734     7151  Raffaelo     6b          Rajko Zajc   19.4.2009  valid
1735     7151  Raffaelo     6b       Martin Bombač   19.4.2009  valid
1736     7151  Raffaelo     6b       Damjan Gruden   31.5.2009    NaN
1737     7152      Twix     5b         Bazna ocena          5b    NaN
1738     7152      Twix     5b       Martin Bombač   19.4.2009  valid
1739     7152      Twix     5b       Damjan Gruden   31.5.2009  valid
1740     7152      Twix    5b+    Ajda Auersperger   29.3.2014  valid
1741     7152      Twix    5c+          Masa Belic   17.6.2016    NaN

[1741 rows x 6 columns]

In [4]:
ocene_lookup

      ocena
num
1        4a
2     4a/a+
3       4a+
4     4a+/b
5        4b
6     4b/b+
7       4b+
8     4b+/c
9        4c
10    4c/c+
..      ...
54    8b/b+
55      8b+
56    8b+/c
57       8c
58    8c/c+
59      8c+
60   8c+/9a
61       9a
62    9a/a+
63      9a+

[63 rows x 1 columns]